mixin headerItem(label, link)
  li.header__item
    a.header__link(href=link)= label

header.header
  .container
    .header__wrapper
      a.logo(href='#home')
        img(src='/images/logo.png')
      .header__menu
        menu.header__navigation
          each item in header.menu
            +headerItem(item.label, item.link)

      .header__burger
        svg.header__svg(viewBox="0 0 800 600")
          path(class="top_bar" d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200")
          path(class="middle_bar" d="M300,320 L540,320")
          path(class="bottom_bar" d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" transform="translate(480, 320) scale(1, -1) translate(-480, -318)")

